.createAccountBox {
  background-color: white;
  border-radius: 12px;
  width: 500px;
  overflow-x: hidden !important;
}

.icon {
  background-color: white !important;
  border-right: 0 !important;
}

.loginBox {
  border-radius: 12px;
  background-color: white;
}

@media (max-width: 576px) {
  .createAccountBox {
    border-radius: 12px;
    width: auto;
    background-color: #fafafa;
  }

  .loginBox {
    border-radius: 12px;
    background-color: #fafafa;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .createAccountBox {
    border-radius: 12px;
    width: 500px;
    background-color: #fafafa;
  }

  .loginBox {
    border-radius: 12px;
    background-color: #fafafa;
  }
}
